.oke h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: rgb(42, 140, 170);
}

.oke h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgb(42, 140, 170);
}

.oke h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgb(42, 140, 170);
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

test p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

ul {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
